<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pistudiosofficial.myclass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.apps.photos.permission.GOOGLE_PHOTOS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".activities.MyClass"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.StudentListActivity"></activity>
        <activity android:name=".activities.ShowAttendanceActivity" />
        <activity android:name=".activities.CreatePostActivity" />
        <activity android:name=".activities.AboutActivity" />
        <activity android:name=".activities.AdminFeedbackActivity" />
        <activity android:name=".activities.FeedbackActivity" />
        <activity android:name=".activities.ResourceBucketActivity" />
        <activity
            android:name=".activities.CommentActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.HelloActivity" />
        <activity android:name=".activities.ChatActivity" />
        <activity
            android:name=".activities.ProfileNewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.CreatePollActivity" />
        <activity
            android:name=".activities.SignupActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.NewAttendenceAcitivity" />
        <activity android:name=".activities.CheckAttendanceActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>